SidharthaBusService/WebContent/wsdl/BusImplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.sid.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.sid.com" xmlns:intf="http://service.sid.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.sid.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBusList">
    <complexType>
     <sequence>
      <element name="journeyDate" type="xsd:dateTime"/>
      <element name="returnDate" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBusListResponse">
    <complexType>
     <sequence>
      <element name="getBusListReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBusListResponse">

      <wsdl:part element="impl:getBusListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBusListRequest">

      <wsdl:part element="impl:getBusList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BusImplementation">

      <wsdl:operation name="getBusList">

         <wsdl:input message="impl:getBusListRequest" name="getBusListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBusListResponse" name="getBusListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BusImplementationSoapBinding" type="impl:BusImplementation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBusList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBusListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBusListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BusImplementationService">

      <wsdl:port binding="impl:BusImplementationSoapBinding" name="BusImplementation">

         <wsdlsoap:address location="http://localhost:8080/SidharthaBusService/services/BusImplementation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
